<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Party App</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="box">
      <!-- Name input -->
      <input id="name_input" type="text" placeholder="Enter Your Name" required />
      <div id="code_box" class="hidden">
          <input id="party_code" type="text" placeholder="Enter Party Code" />
      </div>

      <!-- Buttons -->
      <div>
        <button id="host_btn">Host Party</button>
        <button id="join_btn">Join Party</button>
      </div>

      <!-- Output area -->
      <div id="help_area">
        <div id="help_text"></div>
      </div>
    </div>
  </div>
    <script src="../static/main_page.js"></script>
  </body>
</html>
